body {
margin:0;
font-family:sans-serif;
background:#0f172a;
color:white;
}
header {
display:flex;
justify-content:space-between;
padding:20px;
background:#1e293b;
}
.nav-links {
display:flex;
list-style:none;
gap:20px;
}
.nav-links a {color:white;text-decoration:none;}
.container {padding:20px;}
.hero {display:flex;gap:40px;align-items:center;}
.profile-img {
width:250px;height:250px;
border-radius:50%;
object-fit:cover;
border:3px solid cyan;
}
.card {
background:#1e293b;
padding:20px;
margin-top:20px;
border-radius:10px;
}
footer {
text-align:center;
padding:10px;
background:#1e293b;
margin-top:20px;
}
